aiohttp==3.0.9
aiohttp-debugtoolbar==0.5.0
aiohttp-devtools==0.9
aiohttp-jinja2==0.17.0
aiohttp-swagger==1.0.5
aiopg==0.13.2
aioredis==1.1.0
async-timeout==2.0.1
attrs==17.4.0
boto3==1.9.90
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
ed25519==1.4
Flask==0.12.2
flask-peewee==3.0.0
flask-swagger-ui==3.6.0
hiredis==0.2.0
idna==2.6
idna-ssl==1.0.1
iniherit==0.3.9
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
multidict==4.1.0
peewee==2.10.2
peewee-async==0.5.12
peewee-db-evolve==0.6.8
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-slugify==1.2.5
PyYAML==3.12
redis==2.10.6
requests==2.18.4
six==1.11.0
ujson==5.2.0
Unidecode==1.0.22
urllib3==1.22
watchgod==0.0.3
Werkzeug==0.14.1
WTForms==2.1
yarl==1.1.1
